<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>HelpMate Chatbot</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/static/chatbot/style.css">
</head>
<body>
  <div class="chat-wrapper">
    <header><h1>HelpMate Chatbot Assistantt</h1></header>
    <div id="chat" class="chat-box">
      <div class="bot message">Hi! I'm HelpMate — <br>"12/4+3"<br>"solve x+5=10"<br>"weather 32 65 8"<br> "What are your support hours?"</div>
    </div>

    <form id="chat-form" class="chat-form">
      <input id="message" type="text" placeholder="Type your message..." autocomplete="off" required />
      <button type="submit">Send</button>
    </form>
  </div>

  <script src="/static/chatbot/chat.js"></script>
</body>
</html>
